In [1]:
import json
import pandas as pd

In [7]:
benchmarks_init_wl = {"case1_report.json": 64,\
                      "case2_report.json": 30,
                      "case3_report.json": 32600,
                      "case4_report.json": 4680681,
                      "case5_report.json": 1763627,
                      "case6_report.json": 7188481
                     }
benchmarks_init_via = {"case1_report.json": 28,\
                      "case2_report.json": 12,
                      "case3_report.json": 17466,
                      "case4_report.json": 2321688,
                      "case5_report.json": 1076949,
                      "case6_report.json": 3009612
                     }

In [13]:
# iccad_2020_benchmark_list = ["case1","case2",\
#     "case3","case4","case5","case6"]
iccad_2020_benchmark_list = ["case1","case2",\
    "case3","case4","case5"]    

table_df = pd.DataFrame()



with open("experiments.json") as outfile: 
    experiments = json.load(outfile)
    for experiment in experiments:
        for benchmark in iccad_2020_benchmark_list:
            file_name = experiment + "/" + benchmark + "_report.json"
            with open(file_name) as report_file: 
                report = json.load(report_file)
                
                data_dict = {
                    "experiment": experiment,
                    "benchamrk":report["file_name_report"],
                    "init_via": benchmarks_init_via[benchmark + "_report.json"],
                    "via": report["new_num_vias"],
                    "init_wl": benchmarks_init_wl[benchmark + "_report.json"],
                    "wl": report["new_wire_length"],
                    "total_time" : report["total_time"]
                }
                table_df = table_df.append(data_dict, ignore_index=True)

In [15]:
table_df["via_improvement"] = (table_df.init_via - table_df.via) / table_df.init_via
table_df["wl_improvement"] = (table_df.init_wl - table_df.wl) / table_df.init_wl

In [16]:
table_df

,benchamrk,experiment,init_via,init_wl,total_time,via,wl,via_improvement,wl_improvement
0,case1_report.json,exp8,28.0,64.0,0.214848,14.0,35.0,0.500000,0.453125
1,case2_report.json,exp8,12.0,30.0,0.215986,9.0,23.0,0.250000,0.233333
2,case3_report.json,exp8,17466.0,32600.0,50.851696,15733.0,22317.0,0.099221,0.315429
3,case4_report.json,exp8,2321688.0,4680681.0,18334.830015,1467490.0,2779604.0,0.367921,0.406154
4,case5_report.json,exp8,1076949.0,1763627.0,6989.509171,1193794.0,1173136.0,-0.108496,0.334816

In [5]:
table_df[6:]

Empty DataFrame
Columns: [benchamrk, experiment, init_via, init_wl, total_time, via, wl, via_improvement, wl_improvement]
Index: []

In [6]:
table_df.to_csv("exp2_exp4.csv")

In [11]:
35.71-15.34+19.02-44.92+27.31

21.779999999999998

In [12]:
21.78/6

3.6300000000000003

In [14]:
35.71+15.34+19.02+44.92+27.31

142.29999999999998

In [16]:
26.56+19.72+20.45+21.06+27.32

115.11000000000001

In [18]:
115.11/6

19.185

In [19]:
32.14+0+12.21+34.46+47.83-0.01

126.63

In [21]:
126.63/6

21.105

In [22]:
45.31+23.33+29.19+39.13+29.05+32.48

198.49

In [23]:
198.49/6

33.08166666666667

In [24]:
50+25+14.39+39.54-0.01+54.83

183.75

In [25]:
183.75/6

30.625